@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  font-size: 1rem;
  max-width: 1140px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

header {
  padding-top: 4rem;
}
header i {
  font-size: 4rem;
  color: #0079bb;
  margin: 1rem;
  font-weight: 900;
}
header span {
  font-size: 4rem;
  font-weight: 400;
}
header .span {
  font-size: 4rem;
  color: #0079bb;
  font-weight: 400;
}

.container .form {
  box-shadow: 0 0 10px #0079bb;
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 0.5rem;
}
.container .form legend {
  text-align: center;
  margin: 1rem 0;
  font-size: 3rem;
}
.container .form legend span {
  color: #0079bb;
}
.container .form legend i {
  margin-right: 0.7rem;
  color: #0079bb;
}
.container .form .form-control {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.6rem;
  border: 1px solid lightgrey;
  outline: 0;
  border-radius: 0.5rem;
}
.container .form .form-control:focus {
  border: 1px solid #0079bb;
}
.container .form button {
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin: 1.5rem 0;
  outline: 0;
  background-color: #0079bb;
  border-radius: 0.4rem;
  border: 0;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
.container .books {
  padding-top: 5rem;
}
.container .books .bookList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap !important;
}
.container .books .bookList li {
  flex: 0 1 30%;
  margin: 1rem 0;
  background: #a2eeee;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .books .bookList li span {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  cursor: pointer;
}
.container .books .bookList li div {
  align-self: center;
  width: 200px;
  height: 300px;
  background: none;
}
.container .books .bookList li img {
  width: 100%;
  padding: 0.5rem;
}
.container .books .bookList li h3 {
  font-size: 1.5rem;
  margin: 0.7rem 0;
  font-weight: 700;
}
.container .books .bookList li p {
  margin: 0.5rem 0;
}
.container .books .bookList li button {
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 0.5rem;
}
.container .books .bookList li button:hover {
  background-color: #0079bb;
}/*# sourceMappingURL=style.css.map */